<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">
<head>
    <title>Todo-App :: Edit</title>
</head>
<th:block layout:fragment="content">
    <div class="row" style="justify-content: space-between">
        <h1>Edit Note</h1>
            <form action="#" th:action="@{'/delete/{id}'(id=${todo.id})}" th:method="DELETE">
                <input type="hidden" name="_method" value="delete"/>
                <button class="btn btn-danger" type="submit" id="submitButton">
                    <i class="fas fa-times" style="vertical-align: middle"></i>
                </button>
            </form>
    </div>
    <form class="form-group" th:object="${todo}" th:action="@{'/edit/{id}'(id=${todo.id})}" th:method="PUT">
        <fieldset>
            <label for="inputTitle">Title</label>
            <input id="inputTitle" class="form-control" type="text" th:field="*{title}" value="${todo.title}"><br/>

            <label for="inputText">Content</label>
            <textarea id="inputText" class="form-control" rows="3" th:field="*{text}" placeholder="No text to show"
                      value="${todo.text}"/><br/>

            <label for="selectState">State</label>
            <select id="selectState" class="custom-select" th:field="*{state}">
                <option th:each="state : ${T(com.example.todoapp.enums.State).values()}"
                        th:value="${state}"
                        th:text="${state}"
                        th:selected="*{state}">
                    Status
                </option>
            </select>
        </fieldset>
        <div class="form-group pt-4">
            <a class="btn btn-outline-primary" th:href="@{/}">Back</a>
            <button class="btn btn-outline-success" type="submit">Update</button>
        </div>
    </form>

</th:block>
</body>
</html>