<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TODO - Edit</title>
</head>
<body>
<div>
    <h1>Edit TODO</h1>
    <form th:object="${todo}" th:action="@{'/edit/{id}'(id=${todo.id})}" th:method="POST">
        <fieldset>
            <label>Title</label>
            <input type="text" th:field="*{title}" value="${todo.title}"><br/>

            <label>Content</label>
            <input type="text" th:field="*{text}" placeholder="No text to show" value="${todo.text}"><br/>

            <label>State</label>
            <select th:field="*{state}">
                <option th:each="state : ${T(com.example.todoapp.enums.State).values()}"
                        th:value="${state}"
                        th:text="${state}"
                        th:selected="*{state}">
                    Status
                </option>
            </select>
        </fieldset>
        <a th:href="@{/}">Back</a>
        <button type="submit">Update</button>
    </form>
    <form action="#" th:action="@{'/delete/{id}'(id=${todo.id})}" th:method="DELETE">
        <input type="hidden" name="gambeta" value="delete"/>
        <button type="submit" id="submitButton">Delete</button>
    </form>
</div>
</body>
</html>