<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TODO - Add</title>
</head>
<body>
<div>
    <h1>Create TODO</h1>
    <form th:object="${todo}" th:action="@{/create}" method="POST">
        <fieldset>
            <label>Title</label>
            <input type="text" th:field="*{title}" placeholder="Insert the title"><br/>

            <label>Content</label>
            <input type="text" th:field="*{text}" placeholder="Insert the text"><br/>

            <label>State</label>
            <select th:field="*{state}">
                <option th:each="state : ${T(com.example.todoapp.enums.State).values()}"
                        th:value="${state}"
                        th:text="${state}">Status</option>
            </select>
        </fieldset>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>