<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">
<head>
    <title>Todo-App :: Create</title>
    <meta charset="UTF-8">

</head>
<th:block layout:fragment="content">
    <h1>Create Note</h1>
    <form th:object="${todoForm}" th:action="@{/create}" method="POST">
        <fieldset>
            <div class="form-group">
                <label for="inputTitle">Title*</label>
                <input id="inputTitle" class="form-control" th:errorclass="is-invalid" type="text" th:field="*{title}"
                       placeholder="Insert the title"/>
                <span th:errors="*{title}" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
                <label for="inputText">Content</label>
                <textarea id="inputText" class="form-control" rows="3" th:field="*{text}"
                          placeholder="Insert the text"/>
            </div>
            <div class="form-group">
                <label for="selectState">State</label>
                <select id="selectState" class="custom-select" th:field="*{state}">
                    <option th:each="state : ${T(com.example.todoapp.enums.State).values()}"
                            th:value="${state}"
                            th:text="${state}">Status
                    </option>
                </select>
            </div>
        </fieldset>
        <div class="form-group pt-4">
            <a class="btn btn-outline-primary" th:href="@{/}">Back</a>
            <button class="btn btn-outline-success" type="submit">Create</button>
        </div>
    </form>
</th:block>
</body>
</html>