<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/base">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-4 col-12">
            <div th:insert="fragments/_column.html :: list(${todo}, 'TODO')"></div>
        </div>
        <div class="col-md-4 col-12">
            <div th:insert="fragments/_column.html :: list(${wip}, 'WIP')"></div>
        </div>
        <div class="col-md-4 col-12">
            <div th:insert="fragments/_column.html :: list(${done}, 'DONE')"></div>
        </div>
    </div>
</th:block>
</html>